DATABASE_URL=postgresql://your_user:your_password@your_host:5432/your_dbname
JWT_SECRET=75fc073512f3f665601f4f43b169942ca453117839b9e191948d0a8fd603a60b
FRONTEND_URL=*
EMAIL_USER=yourgmail@gmail.com
EMAIL_PASSWORD=xxxx xxxx xxxx xxxx